# Web scraping Investing.com using Beautiful Soup
## Hourly ETH and BTC Technical Data

In [1]:
import os
import requests
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen, Request
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import matplotlib
%matplotlib inline

# ETH Technicals Summary

In [2]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-eth-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

# ETH Technicals (hourly)

In [3]:
# Setup a web scraper for ETH to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/indices/investing.com-eth-usd-technical")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [ ]:
# Obtain hourly technical data
eth_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
eth_technicals

,Name,Value,Action
0,RSI(14),53.920,Neutral
1,"STOCH(9,6)",55.362,Buy
2,STOCHRSI(14),19.790,Oversold
3,"MACD(12,26)",15.360,Buy
4,ADX(14),24.149,Neutral
5,Williams %R,-50.691,Neutral
6,CCI(14),-2.4138,Neutral
7,ATR(14),35.4345,Less Volatility
8,Highs/Lows(14),0.0000,Neutral
9,Ultimate Oscillator,51.058,Buy
10,ROC,0.576,Buy
11,Bull/Bear Power(13),-1.4463,Sell
12,Buy: 4 Sell: 1 Neutral: 5 Summary:BUY,Buy: 4 Sell: 1 Neutral: 5 Summary:BUY,Buy: 4 Sell: 1 Neutral: 5 Summary:BUY

In [ ]:
# Obtain moving averages based on hourly data
eth_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
eth_moving_averages

,Period,Simple,Exponential
0,MA5,3002.66 Sell,3001.70 Sell
1,MA10,3001.79 Sell,3001.19 Buy
2,MA20,2994.22 Buy,2988.00 Buy
3,MA50,2948.62 Buy,2970.51 Buy
4,MA100,2954.92 Buy,2958.99 Buy
5,MA200,2973.62 Buy,3006.88 Sell
6,Buy: 8 Sell: 4 Summary:Buy,Buy: 8 Sell: 4 Summary:Buy,Buy: 8 Sell: 4 Summary:Buy

# BTC Technicals Summary

In [ ]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-btc-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

# BTC Technicals (hourly)

In [ ]:
# Setup a web scraper for BTC to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/indices/investing.com-btc-usd-technical")
req = Request(url,headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [ ]:
# Obtain data from the hourly Pivot points table
btc_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
btc_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,43292.2,43381.2,43504.9,43593.9,43717.6,43806.6,43930.3
1,Fibonacci,43381.2,43462.5,43512.6,43593.9,43675.2,43725.3,43806.6
2,Camarilla,43570.1,43589.6,43609.1,43593.9,43648.1,43667.6,43687.1
3,Woodie's,43309.6,43389.9,43522.3,43602.6,43735.0,43815.3,43947.7
4,DeMark's,-,-,43549.4,43616.1,43762.1,-,-

In [ ]:
# Obtain hourly technical data
btc_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
btc_technicals

,Name,Value,Action
0,RSI(14),56.629,Buy
1,"STOCH(9,6)",98.670,Overbought
2,STOCHRSI(14),26.859,Sell
3,"MACD(12,26)",254.200,Buy
4,ADX(14),19.544,Neutral
5,Williams %R,-1.359,Overbought
6,CCI(14),35.1163,Neutral
7,ATR(14),380.6454,Less Volatility
8,Highs/Lows(14),0.0000,Neutral
9,Ultimate Oscillator,53.451,Buy
10,ROC,1.142,Buy
11,Bull/Bear Power(13),133.5483,Buy
12,Buy: 5 Sell: 1 Neutral: 3 Summary:BUY,Buy: 5 Sell: 1 Neutral: 3 Summary:BUY,Buy: 5 Sell: 1 Neutral: 3 Summary:BUY

In [ ]:
# Obtain moving averages based on hourly data
btc_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
btc_moving_averages

,Period,Simple,Exponential
0,MA5,43601.7 Buy,43631.7 Buy
1,MA10,43648.5 Sell,43587.7 Buy
2,MA20,43446.2 Buy,43386.3 Buy
3,MA50,42775.9 Buy,43042.9 Buy
4,MA100,42668.3 Buy,42837.4 Buy
5,MA200,42920.7 Buy,43253.1 Buy
6,Buy: 11 Sell: 1 Summary:Strong Buy,Buy: 11 Sell: 1 Summary:Strong Buy,Buy: 11 Sell: 1 Summary:Strong Buy