# Web scraping Investing.com using Beautiful Soup
## Hourly ETH and BTC Technical Data

In [5]:
import os
import requests
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen, Request
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import matplotlib
%matplotlib inline

# ETH Technicals Summary

In [6]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-eth-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

# ETH Technicals (hourly)

In [11]:
# Setup a web scraper for ETH to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/indices/investing.com-eth-usd-technical")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [12]:
# Obtain data from the hourly Pivot points table
eth_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
eth_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,3057.53,3090.10,3114.58,3147.15,3171.63,3204.20,3228.69
1,Fibonacci,3090.10,3111.89,3125.36,3147.15,3168.94,3182.41,3204.20
2,Camarilla,3123.37,3128.60,3133.83,3147.15,3144.29,3149.52,3154.75
3,Woodie's,3053.49,3088.08,3110.54,3145.13,3167.59,3202.18,3224.65
4,DeMark's,-,-,3102.34,3141.03,3159.39,-,-

In [13]:
# Obtain hourly technical data
eth_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
eth_technicals

,Name,Value,Action
0,RSI(14),50.495,Neutral
1,"STOCH(9,6)",62.381,Buy
2,STOCHRSI(14),51.017,Neutral
3,"MACD(12,26)",15.360,Buy
4,ADX(14),28.412,Neutral
5,Williams %R,-39.874,Buy
6,CCI(14),-11.4175,Neutral
7,ATR(14),37.8253,Less Volatility
8,Highs/Lows(14),0.0000,Neutral
9,Ultimate Oscillator,46.957,Sell
10,ROC,-0.825,Sell
11,Bull/Bear Power(13),-12.5871,Sell
12,Buy: 3 Sell: 3 Neutral: 5 Summary:Neutral,Buy: 3 Sell: 3 Neutral: 5 Summary:Neutral,Buy: 3 Sell: 3 Neutral: 5 Summary:Neutral

In [14]:
# Obtain moving averages based on hourly data
eth_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
eth_moving_averages

,Period,Simple,Exponential
0,MA5,3150.98 Sell,3148.19 Sell
1,MA10,3150.07 Sell,3147.03 Sell
2,MA20,3140.99 Sell,3141.62 Sell
3,MA50,3105.29 Buy,3116.64 Buy
4,MA100,3076.62 Buy,3038.94 Buy
5,MA200,2866.47 Buy,2900.22 Buy
6,Buy: 6 Sell: 6 Summary:Neutral,Buy: 6 Sell: 6 Summary:Neutral,Buy: 6 Sell: 6 Summary:Neutral

# BTC Technicals Summary

In [31]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-btc-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

# BTC Technicals (hourly)

In [18]:
# Setup a web scraper for BTC to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/indices/investing.com-btc-usd-technical")
req = Request(url,headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [19]:
# Obtain data from the hourly Pivot points table
btc_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
btc_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,44600.8,44984.4,45216.0,45599.5,45831.1,46214.6,46446.3
1,Fibonacci,44984.4,45219.3,45364.5,45599.5,45834.5,45979.7,46214.6
2,Camarilla,45278.3,45334.7,45391.0,45599.5,45503.8,45560.2,45616.6
3,Woodie's,44524.6,44946.3,45139.8,45561.4,45754.9,46176.5,46370.1
4,DeMark's,-,-,45100.1,45541.6,45715.2,-,-

In [20]:
# Obtain hourly technical data
btc_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
btc_technicals

,Name,Value,Action
0,RSI(14),49.114,Neutral
1,"STOCH(9,6)",98.861,Overbought
2,STOCHRSI(14),59.384,Buy
3,"MACD(12,26)",85.500,Buy
4,ADX(14),27.558,Neutral
5,Williams %R,-1.492,Overbought
6,CCI(14),-5.4700,Neutral
7,ATR(14),380.2913,Less Volatility
8,Highs/Lows(14),0.0000,Neutral
9,Ultimate Oscillator,48.325,Sell
10,ROC,-0.145,Sell
11,Bull/Bear Power(13),-239.4728,Sell
12,Buy: 2 Sell: 3 Neutral: 4 Summary:Sell,Buy: 2 Sell: 3 Neutral: 4 Summary:Sell,Buy: 2 Sell: 3 Neutral: 4 Summary:Sell

In [21]:
# Obtain moving averages based on hourly data
btc_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
btc_moving_averages

,Period,Simple,Exponential
0,MA5,45596.3 Sell,45546.0 Sell
1,MA10,45555.0 Sell,45539.5 Sell
2,MA20,45513.2 Sell,45553.6 Sell
3,MA50,45366.3 Buy,45287.4 Buy
4,MA100,44629.7 Buy,44289.7 Buy
5,MA200,42056.7 Buy,42952.4 Buy
6,Buy: 6 Sell: 6 Summary:Neutral,Buy: 6 Sell: 6 Summary:Neutral,Buy: 6 Sell: 6 Summary:Neutral