In [5]:
import os
import requests
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen, Request
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import investpy
import time
import matplotlib
%matplotlib inline

# ETH Technicals Summary

In [33]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-eth-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [34]:
# Obtain technical summary data
eth_technical_summary = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalSummaryTbl'})[0]
eth_technical_summary

,Type,5 Min,15 Min,Hourly,Daily,Monthly
0,Moving Averages,Strong Sell,Neutral,Buy,Buy,Strong Buy
1,Technical Indicators,Strong Sell,Sell,Strong Buy,Strong Buy,Strong Buy
2,Summary,Strong Sell,Neutral,Strong Buy,Strong Buy,Strong Buy

In [35]:
# Obtain candelstick paterns
eth_candelstick_patterns = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl ecoCalTbl patternTable js-csp-table'})[0]
eth_candelstick_patterns = eth_candelstick_patterns.drop(columns='Pattern').rename(columns={'Pattern.1':'Pattern'})
eth_candelstick_patterns

,Pattern,Timeframe,Reliability,Candles Ago,Candle Time
0,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns
1,Three Black Crows,1H,NaN,Current,Current
2,Harami Bullish,1M,NaN,Current,Current
3,Harami Cross,1M,NaN,Current,Current
4,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns
5,Falling Three Methods,5H,NaN,2,"Jul 27, 2021 11:00AM"
6,Bullish Engulfing,1W,NaN,4,"Jun 27, 2021"
7,Upside Gap Three Methods,30,NaN,5,"Jul 27, 2021 10:30PM"

# ETH Technicals (hourly)

In [36]:
# Setup a web scraper for ETH to pull technical indicators based on HOURLY data from Investing.com (working on pulling data for daily and monthly period)
url = ("http://www.investing.com/indices/investing.com-eth-usd-technical")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [37]:
# Obtain data from the hourly Pivot points table
eth_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
eth_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,2252.41,2266.16,2274.36,2288.11,2296.31,2310.06,2318.25
1,Fibonacci,2266.16,2274.55,2279.73,2288.11,2296.49,2301.67,2310.06
2,Camarilla,2276.52,2278.53,2280.54,2288.11,2284.56,2286.58,2288.59
3,Woodie's,2249.63,2264.77,2271.58,2286.72,2293.53,2308.67,2315.47
4,DeMark's,-,-,2270.26,2286.06,2292.21,-,-

In [38]:
# Obtain hourly technical data
eth_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
eth_technicals

,Name,Value,Action
0,RSI(14),53.320,Neutral
1,"STOCH(9,6)",61.678,Buy
2,STOCHRSI(14),56.262,Buy
3,"MACD(12,26)",4.430,Buy
4,ADX(14),24.463,Sell
5,Williams %R,-40.513,Buy
6,CCI(14),32.4285,Neutral
7,ATR(14),31.0511,Less Volatility
8,Highs/Lows(14),0.0000,Neutral
9,Ultimate Oscillator,50.756,Neutral
10,ROC,0.118,Buy
11,Bull/Bear Power(13),8.4620,Buy
12,Buy: 6 Sell: 1 Neutral: 4 Summary:Strong Buy,Buy: 6 Sell: 1 Neutral: 4 Summary:Strong Buy,Buy: 6 Sell: 1 Neutral: 4 Summary:Strong Buy

In [39]:
# Obtain moving averages based on hourly data
eth_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
eth_moving_averages

,Period,Simple,Exponential
0,MA5,2292.00 Sell,2286.43 Sell
1,MA10,2284.95 Sell,2284.50 Sell
2,MA20,2273.33 Buy,2274.69 Buy
3,MA50,2279.32 Buy,2250.70 Buy
4,MA100,2202.43 Buy,2191.40 Buy
5,MA200,2047.39 Buy,2118.77 Buy
6,Buy: 8 Sell: 4 Summary:Buy,Buy: 8 Sell: 4 Summary:Buy,Buy: 8 Sell: 4 Summary:Buy

# BTC Technicals Summary

In [40]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-btc-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [41]:
# Obtain technical summary data
btc_technical_summary = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalSummaryTbl'})[0]
btc_technical_summary

,Type,5 Min,15 Min,Hourly,Daily,Monthly
0,Moving Averages,Sell,Buy,Strong Buy,Buy,Strong Buy
1,Technical Indicators,Strong Sell,Sell,Strong Buy,Strong Buy,Strong Buy
2,Summary,Strong Sell,Neutral,Strong Buy,Strong Buy,Strong Buy

In [43]:
# Obtain candelstick paterns
btc_candelstick_patterns = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl ecoCalTbl patternTable js-csp-table'})[0]
btc_candelstick_patterns = btc_candelstick_patterns.drop(columns='Pattern').rename(columns={'Pattern.1':'Pattern'})
btc_candelstick_patterns

,Pattern,Pattern.1,Timeframe,Reliability,Candles Ago,Candle Time
0,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns
1,NaN,Three Outside Up,1W,NaN,Current,Current
2,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns
3,NaN,Three Black Crows,30,NaN,1,"Jul 28, 2021 12:30AM"
4,NaN,Doji Star Bearish,1H,NaN,3,"Jul 27, 2021 10:00PM"
5,NaN,Evening Doji Star,30,NaN,5,"Jul 27, 2021 10:30PM"

# BTC Technicals (hourly)

In [72]:
# Setup a web scraper for BTC to pull technical indicators based on HOURLY data from Investing.com (working on pulling data for daily and monthly period)
url = ("http://www.investing.com/indices/investing.com-btc-usd-technical")
req = Request(url,headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [49]:
# Obtain data from the hourly Pivot points table
btc_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
btc_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,38316.5,38631.5,39226.0,39541.1,40135.6,40450.7,41045.2
1,Fibonacci,38631.5,38979.0,39193.7,39541.1,39888.5,40103.2,40450.7
2,Camarilla,39570.4,39653.8,39737.1,39541.1,39903.9,39987.3,40070.6
3,Woodie's,38456.1,38701.3,39365.6,39610.9,40275.2,40520.5,41184.8
4,DeMark's,-,-,39383.5,39619.8,40293.1,-,-

In [99]:
# Obtain hourly technical data
btc_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
btc_technicals

,Name,Value,Action
0,RSI(14),67.092,Buy
1,"STOCH(9,6)",97.618,Overbought
2,STOCHRSI(14),86.031,Overbought
3,"MACD(12,26)",424.900,Buy
4,ADX(14),45.380,Buy
5,Williams %R,-1.896,Overbought
6,CCI(14),113.6358,Buy
7,ATR(14),604.1479,High Volatility
8,Highs/Lows(14),773.3535,Buy
9,Ultimate Oscillator,66.121,Buy
10,ROC,3.076,Buy
11,Bull/Bear Power(13),1619.2551,Buy
12,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy

In [109]:
# Obtain moving averages based on hourly data
btc_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
btc_moving_averages

,Period,Simple,Exponential
0,MA5,39580.1 Buy,39450.0 Buy
1,MA10,38911.4 Buy,39111.8 Buy
2,MA20,38410.9 Buy,38668.2 Buy
3,MA50,38173.6 Buy,37663.6 Buy
4,MA100,35930.0 Buy,36275.6 Buy
5,MA200,33545.4 Buy,34793.8 Buy
6,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy