# Web scraping Investing.com using Beautiful Soup
## Hourly ETH and BTC Technical Data

In [6]:
import os
import requests
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen, Request
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import matplotlib
%matplotlib inline

# ETH Technicals Summary

In [7]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-eth-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [8]:
# Obtain technical summary data
eth_technical_summary = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalSummaryTbl'})[0]
eth_technical_summary

                   Type 5 Min      15 Min      Hourly       Daily     Monthly
0       Moving Averages   Buy         Buy         Buy         Buy         Buy
1  Technical Indicators   BUY  Strong Buy  Strong Buy  Strong Buy  Strong Buy
2               Summary   Buy  Strong Buy  Strong Buy  Strong Buy  Strong Buy

In [9]:
# Obtain candelstick paterns
eth_candlestick_patterns = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl ecoCalTbl patternTable js-csp-table'})[0]
eth_candlestick_patterns = eth_candlestick_patterns.drop(columns='Pattern').rename(columns={'Pattern.1':'Pattern'})
eth_candlestick_patterns

,Pattern,Timeframe,Reliability,Candles Ago,Candle Time
0,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns
1,Bullish Engulfing,1W,NaN,4,"Jun 27, 2021"
2,Doji Star Bearish,1H,NaN,5,"Jul 30, 2021 06:00PM"
3,Upside Gap Three Methods,30,NaN,5,"Jul 30, 2021 08:30PM"
4,Falling Three Methods,1W,NaN,6,"Jun 13, 2021"
5,Three Outside Up,15,NaN,6,"Jul 30, 2021 09:45PM"

# ETH Technicals (hourly)

In [10]:
# Setup a web scraper for ETH to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/indices/investing.com-eth-usd-technical")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [11]:
# Obtain data from the hourly Pivot points table
eth_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
eth_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,2425.86,2439.67,2452.74,2466.55,2479.62,2493.43,2506.51
1,Fibonacci,2439.67,2449.94,2456.28,2466.55,2476.82,2483.16,2493.43
2,Camarilla,2458.43,2460.89,2463.36,2466.55,2468.28,2470.75,2473.21
3,Woodie's,2425.50,2439.49,2452.38,2466.37,2479.26,2493.25,2506.15
4,DeMark's,-,-,2459.65,2470.00,2486.53,-,-

In [12]:
# Obtain hourly technical data
eth_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
eth_technicals

,Name,Value,Action
0,RSI(14),73.121,Buy
1,"STOCH(9,6)",84.968,Overbought
2,STOCHRSI(14),100.000,Overbought
3,"MACD(12,26)",33.710,Buy
4,ADX(14),53.410,Buy
5,Williams %R,-9.320,Overbought
6,CCI(14),93.3860,Buy
7,ATR(14),25.5810,Less Volatility
8,Highs/Lows(14),49.9033,Buy
9,Ultimate Oscillator,64.123,Buy
10,ROC,5.452,Buy
11,Bull/Bear Power(13),74.2278,Buy
12,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy

In [13]:
# Obtain moving averages based on hourly data
eth_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
eth_moving_averages

,Period,Simple,Exponential
0,MA5,2462.43 Buy,2457.04 Buy
1,MA10,2433.77 Buy,2435.65 Buy
2,MA20,2388.69 Buy,2408.96 Buy
3,MA50,2358.40 Buy,2367.29 Buy
4,MA100,2312.44 Buy,2316.54 Buy
5,MA200,2222.53 Buy,2232.27 Buy
6,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy

# BTC Technicals Summary

In [14]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-btc-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [15]:
# Obtain technical summary data
btc_technical_summary = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalSummaryTbl'})[0]
btc_technical_summary

                   Type 5 Min 15 Min      Hourly       Daily     Monthly
0       Moving Averages  Sell    Buy  Strong Buy         Buy  Strong Buy
1  Technical Indicators  Sell    BUY  Strong Buy  Strong Buy  Strong Buy
2               Summary  Sell    Buy  Strong Buy  Strong Buy  Strong Buy

In [16]:
# Obtain candelstick paterns
btc_candlestick_patterns = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl ecoCalTbl patternTable js-csp-table'})[0]
btc_candlestick_patterns = btc_candlestick_patterns.drop(columns='Pattern').rename(columns={'Pattern.1':'Pattern'})
btc_candlestick_patterns

,Pattern,Timeframe,Reliability,Candles Ago,Candle Time
0,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns
1,Three Outside Up,1W,NaN,Current,Current
2,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns
3,Engulfing Bearish,30,NaN,1,"Jul 30, 2021 10:30PM"
4,Upside Gap Three Methods,30,NaN,1,"Jul 30, 2021 10:30PM"
5,Doji Star Bearish,1D,NaN,2,"Jul 29, 2021"

# BTC Technicals (hourly)

In [17]:
# Setup a web scraper for BTC to pull technical indicators based on HOURLY data from Investing.com (for other timeframes use selenium scraper notebook)
url = ("http://www.investing.com/indices/investing.com-btc-usd-technical")
req = Request(url,headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [18]:
# Obtain data from the hourly Pivot points table
btc_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
btc_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,41534.9,41712.6,41835.5,42013.2,42136.0,42313.8,42436.6
1,Fibonacci,41712.6,41827.5,41898.4,42013.2,42128.0,42198.9,42313.8
2,Camarilla,41875.7,41903.3,41930.8,42013.2,41985.9,42013.5,42041.0
3,Woodie's,41507.5,41698.9,41808.1,41999.5,42108.6,42300.1,42409.2
4,DeMark's,-,-,41774.1,41982.5,42074.7,-,-

In [19]:
# Obtain hourly technical data
btc_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
btc_technicals

,Name,Value,Action
0,RSI(14),71.827,Buy
1,"STOCH(9,6)",98.764,Overbought
2,STOCHRSI(14),79.359,Overbought
3,"MACD(12,26)",654.300,Buy
4,ADX(14),64.628,Buy
5,Williams %R,-1.371,Overbought
6,CCI(14),86.9532,Buy
7,ATR(14),500.1370,High Volatility
8,Highs/Lows(14),1100.3560,Buy
9,Ultimate Oscillator,63.811,Buy
10,ROC,7.735,Buy
11,Bull/Bear Power(13),1904.4641,Buy
12,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy

In [20]:
# Obtain moving averages based on hourly data
btc_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
btc_moving_averages

,Period,Simple,Exponential
0,MA5,41972.0 Sell,41734.0 Buy
1,MA10,41197.5 Buy,41233.3 Buy
2,MA20,40030.5 Buy,40625.3 Buy
3,MA50,39925.4 Buy,39972.0 Buy
4,MA100,39376.6 Buy,39037.3 Buy
5,MA200,36846.4 Buy,37421.9 Buy
6,Buy: 11 Sell: 1 Summary:Strong Buy,Buy: 11 Sell: 1 Summary:Strong Buy,Buy: 11 Sell: 1 Summary:Strong Buy