In [2]:
import os
import requests
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen, Request
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import matplotlib
%matplotlib inline

# ETH Technicals Summary

In [3]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-eth-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [4]:
# Obtain technical summary data
eth_technical_summary = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalSummaryTbl'})[0]
eth_technical_summary

                   Type 5 Min      15 Min      Hourly       Daily     Monthly
0       Moving Averages   Buy         Buy         Buy         Buy  Strong Buy
1  Technical Indicators   BUY  Strong Buy  Strong Buy  Strong Buy  Strong Buy
2               Summary   Buy  Strong Buy  Strong Buy  Strong Buy  Strong Buy

In [5]:
# Obtain candelstick paterns
eth_candlestick_patterns = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl ecoCalTbl patternTable js-csp-table'})[0]
eth_candlestick_patterns = eth_candlestick_patterns.drop(columns='Pattern').rename(columns={'Pattern.1':'Pattern'})
eth_candlestick_patterns

,Pattern,Timeframe,Reliability,Candles Ago,Candle Time
0,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns
1,Harami Cross,1M,NaN,Current,Current
2,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns
3,Engulfing Bearish,30,NaN,2,"Jul 28, 2021 06:30AM"
4,Bullish Engulfing,1W,NaN,4,"Jun 27, 2021"
5,Falling Three Methods,5H,NaN,4,"Jul 27, 2021 11:00AM"

# ETH Technicals (hourly)

In [6]:
# Setup a web scraper for ETH to pull technical indicators based on HOURLY data from Investing.com (working on pulling data for daily and monthly period)
url = ("http://www.investing.com/indices/investing.com-eth-usd-technical")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [7]:
# Obtain data from the hourly Pivot points table
eth_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
eth_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,2278.06,2286.90,2294.01,2302.85,2309.95,2318.80,2325.90
1,Fibonacci,2286.90,2292.99,2296.76,2302.85,2308.94,2312.71,2318.80
2,Camarilla,2296.72,2298.18,2299.64,2302.85,2302.57,2304.03,2305.49
3,Woodie's,2277.18,2286.46,2293.13,2302.41,2309.07,2318.36,2325.02
4,DeMark's,-,-,2290.46,2301.07,2306.40,-,-

In [8]:
# Obtain hourly technical data
eth_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
eth_technicals

,Name,Value,Action
0,RSI(14),62.723,Buy
1,"STOCH(9,6)",52.482,Neutral
2,STOCHRSI(14),100.000,Overbought
3,"MACD(12,26)",9.540,Buy
4,ADX(14),36.800,Buy
5,Williams %R,0.000,Overbought
6,CCI(14),270.1538,Overbought
7,ATR(14),34.6021,Less Volatility
8,Highs/Lows(14),33.1268,Buy
9,Ultimate Oscillator,59.622,Buy
10,ROC,3.561,Buy
11,Bull/Bear Power(13),49.5813,Buy
12,Buy: 7 Sell: 0 Neutral: 1 Summary:Strong Buy,Buy: 7 Sell: 0 Neutral: 1 Summary:Strong Buy,Buy: 7 Sell: 0 Neutral: 1 Summary:Strong Buy

In [9]:
# Obtain moving averages based on hourly data
eth_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
eth_moving_averages

,Period,Simple,Exponential
0,MA5,2305.31 Buy,2310.52 Buy
1,MA10,2295.26 Buy,2297.20 Buy
2,MA20,2278.68 Buy,2282.72 Buy
3,MA50,2274.65 Buy,2259.90 Buy
4,MA100,2217.14 Buy,2202.56 Buy
5,MA200,2059.54 Buy,2129.14 Buy
6,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy

# BTC Technicals Summary

In [18]:
# Setup a scraper for technical summary
url = ("http://www.investing.com/indices/investing.com-btc-usd")
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [19]:
# Obtain technical summary data
btc_technical_summary = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalSummaryTbl'})[0]
btc_technical_summary

,Type,5 Min,15 Min,Hourly,Daily,Monthly
0,Moving Averages,Buy,Buy,Buy,Buy,Strong Buy
1,Technical Indicators,Strong Buy,Strong Buy,Strong Buy,Strong Buy,Strong Buy
2,Summary,Strong Buy,Strong Buy,Strong Buy,Strong Buy,Strong Buy

In [21]:
# Obtain candelstick paterns
btc_candlestick_patterns = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl ecoCalTbl patternTable js-csp-table'})[0]
btc_candlestick_patterns = btc_candlestick_patterns.drop(columns='Pattern').rename(columns={'Pattern.1':'Pattern'})
btc_candlestick_patterns

,Pattern,Timeframe,Reliability,Candles Ago,Candle Time
0,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns,Emerging Patterns
1,Three Outside Up,1W,NaN,Current,Current
2,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns,Completed Patterns
3,Doji Star Bearish,5H,NaN,1,"Jul 28, 2021 02:00AM"
4,Three Inside Up,15,NaN,3,"Jul 28, 2021 06:45AM"
5,Falling Three Methods,30,NaN,6,"Jul 28, 2021 04:30AM"

# BTC Technicals (hourly)

In [13]:
# Setup a web scraper for BTC to pull technical indicators based on HOURLY data from Investing.com (working on pulling data for daily and monthly period)
url = ("http://www.investing.com/indices/investing.com-btc-usd-technical")
req = Request(url,headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [14]:
# Obtain data from the hourly Pivot points table
btc_pivot_points = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl crossRatesTbl'})[0]
btc_pivot_points

,Name,S3,S2,S1,Pivot Points,R1,R2,R3
0,Classic,39384.9,39597.3,39892.1,40104.5,40399.3,40611.7,40906.5
1,Fibonacci,39597.3,39791.0,39910.7,40104.5,40298.3,40418.0,40611.7
2,Camarilla,40047.6,40094.1,40140.6,40104.5,40233.6,40280.1,40326.5
3,Woodie's,39426.3,39618.0,39933.5,40125.2,40440.7,40632.4,40947.9
4,DeMark's,-,-,39998.4,40157.6,40505.6,-,-

In [15]:
# Obtain hourly technical data
btc_technicals = pd.read_html(str(html), attrs = {'class': 'genTbl closedTbl technicalIndicatorsTbl smallTbl float_lang_base_1', 'id':'curr_table'})[0]
btc_technicals

,Name,Value,Action
0,RSI(14),68.992,Buy
1,"STOCH(9,6)",97.064,Overbought
2,STOCHRSI(14),85.698,Overbought
3,"MACD(12,26)",530.400,Buy
4,ADX(14),46.153,Buy
5,Williams %R,-0.460,Overbought
6,CCI(14),192.7349,Buy
7,ATR(14),658.2201,High Volatility
8,Highs/Lows(14),710.7455,Buy
9,Ultimate Oscillator,63.669,Buy
10,ROC,6.376,Buy
11,Bull/Bear Power(13),1549.8675,Buy
12,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy,Buy: 8 Sell: 0 Neutral: 0 Summary:Strong Buy

In [16]:
# Obtain moving averages based on hourly data
btc_moving_averages = pd.read_html(str(html), attrs = {'class':'genTbl closedTbl movingAvgsTbl float_lang_base_2','id':'curr_table'})[0]
btc_moving_averages

,Period,Simple,Exponential
0,MA5,40034.9 Buy,40181.1 Buy
1,MA10,39921.2 Buy,39833.9 Buy
2,MA20,39213.7 Buy,39341.5 Buy
3,MA50,38438.5 Buy,38256.9 Buy
4,MA100,36533.9 Buy,36806.5 Buy
5,MA200,33879.3 Buy,35190.9 Buy
6,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy,Buy: 12 Sell: 0 Summary:Buy